<div id="list" class="pure-u-1">
    <% @teams.each do |team| %>
    <div class="email-item pure-g" id="team-item-<%= team['id'] %>">
        <div class="pure-u-3-4">
            <h4 class="email-subject" onclick="drawAboutTeamById(<%= team['id'] %>)"><%= team['nome'] %></h4>
            <p class="email-desc">
                Hey, I just wanted to check in with you from Toronto. I got here earlier today.
            </p>
        </div>
    </div>
    <!-- Listen to Plasì: Now & Then -->
    <% end %>
</div>

<div id="main" class="pure-u-1">
    <div class="email-content" id="content">
        <h1 class="email-content-title">Select a team to discover more about them!</h1>
    </div>
</div>
