<!DOCTYPE html>
<html>
    <head>
        <title>OWDB</title>
        <%= csrf_meta_tags %>
        <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-" crossorigin="anonymous">
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>

    <body>
        <div id="layout" class="content pure-g">
            <div id="nav" class="pure-u">
                <a href="#" class="nav-menu-button">Menu</a>

                <div class="nav-inner">
                    <div class="pure-menu">
                        <ul class="pure-menu-list">
                            <li class="pure-menu-item"><a href="/" class="pure-menu-link">Teams</a></li>
                            <li class="pure-menu-item"><a href="/main/about" class="pure-menu-link">About</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <%= yield %>
        </div>

        <!-- SCRIPTS -->
        <script src="https://code.jquery.com/jquery-3.2.1.min.js" charset="utf-8"></script>
    </body>
</html>
